h1{
  color: black;
}

#logo{
  width: 70px;
  height: 40px;
}

.form-group{
  text-align: left;
  display: none;
}

.form-group.Round{
  display: block;
}

.form-group.Depth{
  display: block;
}

#resultJumbotron{
  background-color: #4db8ff;
}
