h1{
  color: black;
}

#logo{
  width: 70px;
  height: 40px;
}

.form-group{
  text-align: left;
  display: none;
}

.form-group.Round{
  display: block;
}

.form-group.Depth{
  display: block;
}

#resultJumbotron{
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col{
  padding: 3px;
}

.form-check-inline{
  margin: 10px 10px 10px 10px;
}

.card-text{
  text-align: right;
}

#jumbo-Container{
  display: none;
}

#typesSelection{
  display: none;
}

#kindTitle{
  display: inline;
}
